body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}
h1{
  margin: 100px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height:2;
}
a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #eaf6f6;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
.top-container{
  background-color: #eaf6f6;
  position: relative;
  padding-top: 40px;
}
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.middle-container{
  margin-top: 100px;
}
.description{
  width: 50%;
  margin: 10px auto 80px;
}
hr{
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
}
.skills{
  margin-top: 80px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.code{
  margin-right: 30px;
  width: 150px;
  height: 150px;
  float: left;
}
.guitar{
  margin-left: 30px;
  width: 150px;
  height: 150px;
  float: right;
}
.contact-me{
  margin: 100px auto;
}
.contact-me h2{
  margin: 30px;
}
.contact-me h3{
  margin: 30px;
}
.contact-me p{
  margin: 40px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 40px;
}
.bottom-container p {
  color: #eaf6f6;
  padding: 30px;
}
.footer-link{
  margin: 20px;
}
